/* section hebergements */

.titre_article {
  padding-top: 10px;
}

.tarif {
  padding-bottom: 5px;
  padding-top: 5px;
}

.texte_description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}

.star_blue {
  color: #0065FC;
  margin: 0;
}

.star {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.description_hebergements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
}

.star_grey {
  color: #F2F2F2;
  margin: 0;
}

.hebergements_populaires {
  display: flex;
  justify-content: space-around;
}
.hebergements {
  flex: 2;
  background-color: #F2F2F2;
  border-radius: 20px;
  margin: 0 20px 0 0;
  padding: 20px 0px 20px 30px;
  display: flex;
  flex-direction: column;
}

.populaires {
  flex: 1;
  padding: 20px;
  background-color: #F2F2F2;
  border-radius: 20px;
  margin: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titre_hebergements {
  margin: 25px 0 20px 0;
}

.hebergements_tablette {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.container_hebergement {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 0 30px 0;
  max-width: 33%;
  flex: 0 0 33%;
}

.hebergement {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  margin: 0;
  height: 100%;
}

.hebergement:hover {
  box-shadow: 6px 6px 1px #0065FC;
}
.img_1 {
  background-image: url(img/hebergements/4_small/photo_1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  height: 120px;
  width: 100%;
  margin: 0;
}

.img_2 {
  background-image: url(img/hebergements/4_small/photo_2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  height: 120px;
  width: 100%;
  margin: 0;
}

.img_3 {
  background-image: url(img/hebergements/4_small/photo_3.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  height: 120px;
  width: 100%;
  margin: 0;
}

.img_4 {
  background-image: url(img/hebergements/4_small/photo_4.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  height: 120px;
  width: 100%;
  margin: 0;
}

.img_5 {
  background-image: url(img/hebergements/4_small/photo_5.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  height: 120px;
  margin: 0;
  width: 100%;
}

.img_6 {
  background-image: url(img/hebergements/4_small/photo_6.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  height: 120px;
  width: 100%;
  margin: 0;
}

.afficher {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

.afficher:hover > p {
  color: #0065FC;
}
/* populaires */ 

.titre_populaires {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.description_populaires {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 20px;
}

.populaire {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  height: 30%;
  width: auto;
  padding: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.populaire:hover {
  box-shadow: 6px 6px 1px #0065FC;
}

.img_7 {
  background-image: url(img/hebergements/4_small/photo_7.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
  height: 100%;
  width: 35%;
  margin: 0;
}

.img_8 {
  background-image: url(img/hebergements/4_small/photo_8.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
  height: 100%;
  width: 35%;
  margin: 0;
}

.img_9 {
  background-image: url(img/hebergements/4_small/photo_9.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
  height: 100%;
  width: 35%;
  margin: 0;
}
